    <body>
      <div class="container">
      <% @articles.each do |article| %>
      <%= render partial: "titlelist", locals: { article: article } %>
      <% end %>
      </div>
      <div class="page"><%= paginate(@articles) %></div>
    </body>
     </html>
